.Button {
  padding: 1.2rem;
  font-size: 1rem;
  color: white;
  background: #444;
  box-shadow: none;
  border-radius: 0;
  border: none;
  outline: none;
  transition: background 0.3s linear;
  cursor: pointer;
  text-decoration: none;
}

.Button:hover {
  background: #666;
}

.Button:active {
  background: #222;
}

.Button:focus {
  outline: 3px solid #8af;
}

.Button[disabled] {
  background: #666;
  color: #ccc;
  cursor: default;
}

.Button.primary {
  background: #26b;
}

.Button.primary:hover {
  background: #37c;
}

.Button.primary:active {
  background: #15a;
}
