.connection-status {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: #4448;
  z-index: 100;
  font-size: 1.2rem;
  padding: 2rem;
  overflow-wrap: break-word;
  transition: opacity 0.5s ease;
  display: grid;
  place-items: center;
}

.connection-status[data-connected="0"] {
  opacity: 1;
}

.connection-status[data-connected="1"] {
  opacity: 0;
  pointer-events: none;
}

.connection-status .spinner {
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  background: white;
  text-align: center;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
  animation: show-spinner 0.2s ease forwards;
}

.connection-status .reconnect-text {
  margin-top: 1rem;
  color: #444;
}
