.expansion-packs tr {
  height: 2.5rem;
}

.expansion-packs tbody td:first-child {
  text-align: left;
}

.pack-num-prompts,
.pack-num-responses {
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 0 4px rgb(106, 106, 106);
  padding: 0.4rem;
  border-radius: 3px;
  pointer-events: none;
}

.pack-num-prompts {
  background-color: black;
  color: white;
}

.pack-num-responses {
  background-color: white;
  color: black;
}

#start-game .view-content {
  margin: 0 auto;
}

.game-settings {
  text-align: left;
}

.round-limit {
  margin-left: 0.5em;
}

.round-limit-disclaimer {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
  margin-top: 5px;
}
