.button-wrapper button {
    height: 100%;
    width: 100%;
    padding: 1.2rem;
    font-size: 1rem;
    color: white;
    background: #444;
    box-shadow: none;
    border-radius: 0;
    border: none;
    outline: none;
    transition: background .3s linear;
    cursor: pointer;
}

.button-wrapper button:hover {
    background: #666;
}

.button-wrapper button:active {
    background: #222;
}

.button-wrapper button:focus {
    outline: 2px solid #8af;
}

.button-wrapper button[disabled] {
    background: #666;
    color: #ccc;
    cursor: default;
}