.expansion-packs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px auto;
    gap: 1rem;
    place-items: center;
}

.expansion-packs label {
    width: 100%;
    text-align: left;
}

.pack-num-prompts,
.pack-num-responses {
    font-size: .9rem;
    font-weight: bold;
    box-shadow: 0 0 4px rgb(106, 106, 106);
    padding: .4rem;
    border-radius: 3px;
    pointer-events: none;
}

.pack-num-prompts {
    background-color: black;
    color: white;
}

.pack-num-responses {
    background-color: white;
    color: black;
}

#choose-deck .view-content {
    margin: 0 auto;
}