.chat-messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
}

.chat-message {
    text-align: left;
    margin: .3rem
}
.chat-message > strong {
    margin-right: .5rem;
}

.chat input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.chat-submit {
    display: grid;
    grid-template-columns: 1fr auto;
}

.chat-submit > .text-box > input {
    height: 100%;
}