html,
body,
#root {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

.button-group {
  width: 100%;
  display: grid;
  gap: 10px;
}

.button-group > * {
  grid-row: 1;
}

@media only screen and (max-width: 799px) {
  .button-group > * {
    grid-row: initial;
    grid-column: 1;
  }
}

.view {
  text-align: center;
  height: calc(100vh - 4rem);
  height: -webkit-fill-available;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.view > .Button:last-child {
  margin-top: auto;
}

input.big-text {
  font-size: 1rem;
  padding: 0.5rem;
}

input.big-text[aria-invalid="true"] {
  outline: 2px solid #d33;
}

.text-box .error-text {
  display: block;
  font-size: 0.9rem;
  color: #d33;
  margin: 5px;
}

main {
  display: grid;
  gap: 10px;
}

.panel {
  background: #eee;
  display: flex;
  flex-direction: column;
}

.panel button.panel-toggle {
  background: #bbb;
  color: black;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  box-shadow: none;
  border: none;
  outline: none;
}

.panel button.panel-toggle:hover {
  background: #c0c0c0;
}

.panel button.panel-toggle:active {
  background: #999;
}

.panel button.panel-toggle:focus {
  outline: 2px solid #8af;
}

#message-banner {
  z-index: 100;
  width: 100vw;
  background: transparent;
  color: transparent;
  position: fixed;
  padding: 0.8rem;
  font-size: 0.8rem;
  height: 2.4rem;
  box-sizing: border-box;
  overflow: hidden;
  top: -2.4rem;
  transition: top 0.2s ease;
}

#message-banner.visible {
  top: 0;
}

#message-banner.info {
  background: #666;
  color: white;
}

#message-banner.success {
  background: #16ac28;
  color: white;
}

#message-banner.error {
  background: #d33;
  color: white;
}

@media only screen and (max-width: 799px) {
  .panel {
    position: absolute;
    max-height: 70vh;
    width: 100vw;
    bottom: 0;
    transition: transform 0.4s ease;
    box-shadow: 0 -2px 12px 2px rgba(0, 0, 0, 0.2);
  }

  .panel[data-collapsed="true"] {
    transform: translateY(calc(100% - 3.2rem));
  }

  .panel[data-collapsed="false"],
  .panel:not([data-collapsed]) {
    transform: translateY(0);
  }

  .chat-messages {
    min-height: 40vh;
    max-height: 70vh;
  }

  .panel[data-collapsed="true"] > .chat-messages,
  .panel[data-collapsed="true"] > .chat-submit {
    display: none;
  }

  .chat-messages > .chat-message:first-child {
    margin-top: auto;
  }
}

@media only screen and (min-width: 800px) {
  .panel {
    height: 100vh;
    width: 20rem;
  }

  .panel-toggle,
  .unread-count {
    display: none !important;
  }
}

.view,
.panel {
  overscroll-behavior: contain;
}

.popup-content {
  opacity: 0;
  width: auto;
  animation: show-popup 0.2s ease 0.2s forwards;
}

@keyframes show-popup {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes show-spinner {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  10% {
    opacity: 1;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 8rem;
  height: 8rem;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 0.25rem;
  border-radius: 50%;
  border: 4px solid #444;
  border-color: #444 transparent #444 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input[type="checkbox"] + label {
  margin-left: 0.5em;
}

.sr-only {
  position: absolute !important;
  left: -10000px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
