.chat-messages {
    margin-top: auto;
}

.chat-message {
    text-align: left;
    margin: .5rem
}
.chat-message > strong {
    margin-right: .5rem;
}


.chat input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}