.select-css {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: #238ce8;
    border: none;
    outline: none;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color .3s linear;
    padding: 1.2rem;
    box-shadow: none;
}

.select-css:focus, .select-css:hover, .select-css:active{
        background-color: #2b579e;
}

.header-css{
    font-size: 150%;
    padding-top: 50px;
}
.header{
    font-size: 150%;
}

.tab { 
    display:inline-block; 
    margin-left: 40px; 
    padding-bottom: 300px;
}