#game-over h2 {
  margin-bottom: 0;
}

#game-over table {
  margin-top: 0.5rem;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 33vw;
}

#game-over th,
#game-over td {
  padding: 0.4rem;
  font-size: 1.1rem;
}

.final-score-wrapper {
  background: whitesmoke;
  border-radius: 1rem;
  padding: 1rem;
}
